* {
    margin: 0;
    padding: 0;
}

label {
    display: block;
    color: white;
}

h1,
p,
a,
h2 {
    color: white;
}

p {
    margin: 1rem .5rem;
}

.contenedor {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: #1c1c1c;
    border-radius: 16px;
}

button {
    border: none;
    padding: 0.5rem 2rem;
    margin: 2rem 0;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}